{% extends 'base.html' %}
{% block container %}
  <main class="container">
    <h1 class="h3 my-4">Корзина</h1>
    {% if not delete_id == 0 %}
    <div class="alert alert-warning" role="alert">Блюдо удалено из корзины</div>
    {% endif %}
    {% if not session["user"] %}
    <div class="alert alert-warning" role="alert">Чтобы сделать заказ – <a href="{{ url_for('auth') }}">войдите</a> или <a href="{{ url_for('register') }}">зарегистрируйтесь</a></div>
    {% endif %}
    <div class="row mt-5">


        <div class="col-4">
          <form action="/ordered/" method="POST">
          {% if error_msg %}
          <div>
          {{ error_msg }}
          </div>
          {% endif %}
          {% for fieldName, errorMessages in form.errors.items() %}
            {% for err in errorMessages %}
            <p class="alert-warning"> {{ err }} </p>
            {% endfor %}
          {% endfor %}
          {{ form.csrf_token() }}
          <h4 class="">Ваши данные</h4>
          <div class=" md-4 order-md-1">
            <div class="mt-3 mb-3">
              {{ form.clientName.label() }}
              {{ form.clientName(class="font-weight-bold form-control") }}
            </div>
          </div>
          <div class=" md-4 order-md-1">
            <div class="mt-3 mb-3">
              {{ form.clientAddress.label() }}
              {{ form.clientAddress(class="font-weight-bold form-control") }}
            </div>
          </div>
          <div class="md-4 form-label-group">
              {{ form.clientEmail.label() }}
            {% if session["user"] %}
              {{ form.clientEmail(class="font-weight-bold form-control", value=session["user"]["email"]) }}
            {% else %}
              {{ form.clientEmail(class="font-weight-bold form-control") }}
            {% endif%}
          </div>
          <div class=" md-4 order-md-1">
            <div class="mt-3 mb-3">
              {{ form.clientPhone.label() }}
              {{ form.clientPhone(class="font-weight-bold form-control") }}
            </div>
        </div>
        {% if session["user"] %}
          <button type="submit" class=" mt-3 mb-5 btn btn-danger">Оформить заказ</button>
        {% endif %}
          </form>
        </div>

      <div class="col-1"></div>
      <div class="col-7">
        <h4 class="mb-3 col-7 mb-5">{{ cart_rows|length }} блюда в корзине</h4>
        <table class="table">
          <tbody>
          {% for cart_row in cart_rows %}
            <tr>
              <th scope="row">{{ cart_row[0] }}</th>
              <td></td>
              <td>1</td>
              <td>{{ cart_row[1] }}</td>
              <td><a class="text-danger" href="/deletefromcart/{{ cart_row[2] }}">Удалить</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <hr>
        <p class="display-4 my-2 ">{% if session.get("sum") is none %}0{% else %}{{ session.get("sum")}}{% endif %} руб</p>
      </div>
    </div>
  </main>
{% endblock %}